@import './globals';

.outer-div {
  display: flex;
  gap: 30px;
}

.cart-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
}

.cart-row {
  display: flex;
  align-items: stretch;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(34, 40, 49, 0.2);
}

.title {
  @include flex-align-center;
  width: 30%;
  overflow: hidden;
  cursor: pointer;
  padding-right: 1rem;
  border-right: 1px solid rgba(34, 40, 49, 0.2);
}

.price {
  @include flex-align-center;
  width: 100px;
  border-right: 1px solid rgba(34, 40, 49, 0.2);
}

.quantity {
  width: 10px;
}

.buttons {
  @include flex-align-center;
  gap: 25px;
}

.buttons button {
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.buttons button:hover, .delete:hover {
  transform: scale(0.9);
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  cursor: pointer;
  border-right: 1px solid rgba(34, 40, 49, 0.2);
  padding-right: 20px;
}

.delete {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #222831;
  color: #FFD369;
  display: grid;
  place-content: center;
  transition: all 0.2s;
}

.price-details {
  width: 40%;
  height: fit-content;
  border: 1px solid rgba(34, 40, 49, 0.2);
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
  }
}

.details .priceHead {
  border-right: 1px solid rgba(34, 40, 49, 0.2);
}

.details div h3 {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgba(34, 40, 49, 0.2);
  width: 50%;
}

.place {
  width: 100%;
  display: grid;
  place-items: center;
}

.place button, .details button {
  width: 80%;
  margin: 25px auto;
  padding: 10px 20px;
  border: none;
  background-color: #222831;
  color: #FFD369;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.place button:hover, .details button:hover {
  background-color: hsl(216, 18%, 22%);
}

.not-link {
  cursor: default;
}

.order-summary {
  padding: 20px;
  text-transform: uppercase;
  font-weight: $fw-regular;
  border-bottom: $border-prop;
  display: grid;
  place-content: center;
}

.last-child h3 {
  border-bottom: none !important;
}

.paypal {
  width: 100%;
  @include flex-center;
  padding: 20px;
}

.price-calc {
  text-align: end;
  @include flex-align-center;
  gap: 10px;
  width: 300px;
}

.order-by p{
  display: flex;
  margin-bottom: 15px;
}

.ref-num {
  display: flex;
}

@include max-1200 {
  .outer-div {
    flex-direction: column;
    align-items: center;
  }
  .cart-details {
    width: 100%; 
  }
  .cart-row {
    justify-content: space-between;
  }
  .title {
    flex-grow: 1;
  }
  .price-details {
    width: 70%;
  }
}

@include mobile {
  .buttons {
    gap: 10px;
  }
  .price-calc {
    width: 250px;
  }
}

@include mob-576 {
  .cart-details h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
  }
  .cart-row {
    position: relative;
    justify-content: center;
    gap: 5px;
    .cart-image {
      height: 70px;
      width: 70px;
    }
    .title {
      flex-grow: 1;
      display:inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: none;
      font-size: 14px;
      align-self: flex-start;
    }
    .price-calc {
      width: 70%;
      position: absolute;
      bottom: 25px;
      left: 75px;
      font-size: 15px;
    }
    .price {
      position: absolute;
      left: 75px;
      bottom: 25px;
      border: none;
    }
    .buttons {
      position: absolute;
      bottom: 25px;
      right: 20px;
      button {
        height: 30px;
        width: 30px;
      }
    }
  }
  .delete {
    display: none;
  }
  .price-details {
    width: 95%;
    font-size: 10px;
  }
  .order-by p{
    flex-direction: column;
    .order-indent {
      padding-left: 25px;
    }
  }
  .ref-num {
    flex-direction: column;
    span:last-child {
      padding-left: 25px;
      font-size: 14px;
    }
  }
  .address {
    display: flex;
    flex-direction: column;
  }
}