@import './globals';

.nav {
  background-color: #222831;
  padding: 25px 10%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-brand {
  @include flex-align-center;
  gap: 50px;
}

.nav ul {
  @include flex-align-center;
  justify-content: flex-end;
  gap: 50px;
  font-size: 0.8rem;
}

ul.mobile-ul {
  display: none;
}

.nav h1, .nav a, .nav li {
  color: #FFD369;
  letter-spacing: 2px;
}

.profile {
  position: relative;
}

.profile:hover{
  color: hsl(42, 20%, 71%);
  cursor: pointer;
}

.nav ul a:hover {
  color: hsl(42, 20%, 71%);
}

.nav li i {
  margin: 0 7px;
}

.dropdown-title, .cart-div {
  @include flex-align-center;
  gap: 5px;
}

.dropdown {
  text-align: start;
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
  transform: translateY(-30px);
  transition: all 0.1s ease-in;
  background-color: #222831;
  color: #FFD369;
  width: max-content;
  border: 1px solid #EEEEEE;
  border-bottom: none;
}

.dropdown p:hover {
  background-color: hsl(217, 10%, 50%);
}

.showDropdown {
  opacity: 1;
  z-index: 10;
  transform: translateY(0);
}

.dropdown p {
  padding: 5px 10px 5px 5px;
  border-bottom: 1px solid #EEEEEE;
}

.nav {
  form {
    @include flex-align-center;
    gap: 5px;
    button {
      background: transparent;
      border: none;
      color: #FFD369;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.05);
      }
    }
    input{
      padding: 10px;
      border: 1px solid rgba(34, 40, 49, 0.2);
      border-radius: 0.2rem;
      font-size: 16px;
      font-weight: 500;
      &::placeholder{
        text-align: center;
        font-size: 15px;
      }
      &:focus{
        outline: 2px solid #FFD369;
      }
    }
}
}

@include laptop-1200 {
  .nav-brand {
    flex-grow: 1;
    form {
      flex-grow: 1;
      input {
        width: 100%;
      }
    }
  }
  .nav ul {
    position: relative;
    flex-direction: column;
    gap: 30px;
    align-items: stretch;
    width: fit-content;
    li:last-child {
      padding-right: 30px;
    }
  }
  .dropdown {
    width: 150px;
    top: 30px;
  }
}

@include max-tablet {
  .nav {
    gap: 30px;
  }
  .nav-brand {
    gap: 10px;
    flex-grow: 1;
    form {
      flex-grow: 1;
      input {
        width: 0;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.75, 0.02, 0.11, 1.08);
      }
      .show-input {
        width: 100%;
        opacity: 1;
      }
      .search svg{
        font-size: 2rem;
      }
    }
  }
  .nav ul {
    display: none;
  }
  ul.mobile-ul {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    transition: all 0.3s ease-out;
  }
  .dropdown-title, .cart-div {
    flex-direction: column;
    gap: 0;
  }
  .dropdown {
    top: 50px;
    left: -140%;
    text-align: center;
  }
}

@include mobile {
  .nav {
    padding: 10px;
    gap: 10px;
    .nav-brand {
      gap: 0px;
      font-size: 10px;
    }
  }
  .nav.show-navbar {
    .nav-brand h1 {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
    ul.mobile-ul {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }
  .dropdown-title, .icon-link {
    svg {
      font-size: 1.7rem;
    }
  }
}