@import './globals';

.product-outer-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.goback {
  text-transform: uppercase;
  color: #393E46;
  cursor: pointer;
  width: fit-content;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #393E46;
}

.image {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border: 2px solid #EEEEEE;
  border-radius: 1rem;
  padding: 20px;
}

.middle-stock {
  flex-grow: 1;
}

.middle {
  flex-grow: 1;
}

.title {
  text-transform: uppercase;
}

.category {
  background-color: #EEEEEE;
  border-radius: 2rem;
  display: inline-block;
  padding: 5px 20px;
  margin: 15px 0;
}

.rating {
  margin: 15px 0;
}

.rating i{
  color: #FFD369;
}

.count {
  margin-left: 5px;
}

.description {
  margin-top: 15px;
}

.stock {
  min-width: 300px;
  max-width: 300px;
  border: 1px solid #EEEEEE;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
}

.stockdet {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
}

.stocktitle {
  border-right: 1px solid #EEEEEE;
  width: 50%;
}

.stockdesc {
  width: 50%;
  position: relative;
}

.stocktitle p, .stockdesc p{
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}

.stocktitle p:last-child, .stockdesc p:last-child {
  border: none;
}

.dropdownqtyParent {
  display: grid;
  place-items: center;
}

.dropdownqty {
  width: 50px;
  padding: 3px !important;
  margin: 7px auto;
  cursor: pointer;
  background-color: #393E46;
  color: #FFD369;
}

.dropdownqty i{
  margin-left: 8px;
}

.dropdown {
  position: absolute;
  width: 50px;
  top: 100%;
  margin-top: -7px;
  left: 50%;
  margin-left: -25px;
  opacity: 0;
  cursor: pointer;
  z-index: -1;
  transform: translateY(-30px);
  transition: all 0.2s ease-in;
  background-color: #393E46;
  color: #FFD369;
}

.dropdown p:hover {
  background-color: hsl(217, 10%, 50%);
}

.showDropdown {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}

.dropdown p {
  padding: 5px 15px;
}

.addButton {
  padding: 20px 0;
  width: 100%;
}

.addtocart {
  width: 60%;
  padding: 10px 20px;
  border: none;
  background-color: #222831;
  color: #FFD369;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.addtocart:hover {
  background-color: hsl(216, 18%, 22%);
}

.addtocart.disabled {
  background-color: hsl(216, 18%, 60%) !important;
  cursor: not-allowed;
}

.review-outer-div {
  display: flex;
  flex-direction: column;
  width: 60%;
  .review-div {
    border-bottom: $border-prop;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review-name {
    text-transform: uppercase;
    font-weight: $fw-regular;
    letter-spacing: 1px;
    padding-right: 15px;
  }
  .review-comment {
    text-indent: 30px;
  }
  i {
    color: #FFD369;
    padding: 2px;
  }
}

.form-div {
  width: 60%;
  h3 {
    text-align: start;
  }
}

.input-rating {
  @include flex-align-center;
  gap: 10px;
}

.middle-stock {
  display: flex;
  gap: 20px;
  div:first-child {
    flex-grow: 1;
  }
}

.no-review {
  width: 60%;
}

@include laptop-1400 {
  .middle-stock {
    flex-direction: column;
    gap: 30px;
  }
  .review-outer-div, .form-div, .no-review {
    width: 70%;
  }
}

@include max-tablet {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .review-outer-div, .form-div, .no-review {
    width: 100%;
    text-align: center;
  }
}

@include mobile {
  .image {
    width: 250px;
    height: 250px;
  }
  .middle-stock {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .review-title, .form-div h3 {
    text-align: center;
    font-size: 1rem;
  }
  .form-div {
    .input-rating {
      .star-meaning {
        display: none;
      }
      justify-content: center;
    }
  }
  .review-outer-div .review-comment {
    text-align: start;
    padding: 3px 10px;
  }
}