@import './mixins';
@import './variables';

.mx-2 {
  margin: auto 0.5rem;
}
.my-2 {
  margin: 0.5rem auto;
}
.px-2 {
  padding: 0 0.5rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.w-20p {
  width: 20%;
}
.text-upper {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.text-capital {
  text-transform: capitalize;
}
.fw-normal {
  font-weight: $fw-normal;
}
.fw-regular {
  font-weight: $fw-regular;
}
.fw-bold {
  font-weight: $fw-bold;
}
.bb {
  border-bottom: $border-prop;
}